* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    transition: 0.4s;
    word-break: break-word;
}

::selection {
    background-color: #e1e1e1;
    color: black;
}

::-moz-selection {
    background-color: #e1e1e1;
    color: black;
}

body {
    background-color: #e9e9e9;
    color: #000000;
}

h1, img, #code {
    margin: 5px 0;
}

nav {
    background-color: #333333;
    color: white;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 10px;
    overflow-x: auto;
}

nav a {
    font-size: 14px;
    color: white !important;
    opacity: 0.8;
    word-break: initial !important;
    text-decoration: none !important;
}

nav a:hover {
    opacity: 1;
}

a, a:visited {
    color: #257aa4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    width: 100vw;
    max-width: 800px;
    min-width: 300px;
    padding: 15px;
}

pre {
    font-family: monospace !important;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
    border: 1px solid #cccccc;
    color: #2b2b2b;
    margin: 7px 0;
    font-size: 12px !important;
}

h1, h2 {
    margin: 4px 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 14px;
    font-family: monospace;
    white-space: pre-line;
    line-height: 22px;
}

.h_C {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img[alt=logo] {
    --size: 80px;
    height: var(--size);
    width: var(--size);
}