body {
    background-color: black;
}

.nav-bar {
    list-style-type: none;
    overflow: hidden;
    background-color: #333333;
    margin: 0;
    display: inline;
}

.nav-bar a {
    font-family: Calibri;
    color: #cdcdcd;
    margin-right: 20px;
    text-decoration: none;
    padding: 8px;
}

.div-header-bg {
    margin: 0;
    padding: 100px;
    display: block;
    background-color: black;
}

.title {
    font-family: Arial;
    font-size: 60px;
    color: whitesmoke;

}

.title-content {
    font-family: Calibri;
    color: whitesmoke;
    font-size: 30px;
}

.download-btn {
    display: inline;    
    color: whitesmoke;
    background-color: transparent;
    border-radius: 7px;
    border-color: whitesmoke;
    width: 160px;
    height: 55px;
    font-family: Arial;
    font-size: 18px;    
}
